git+https://github.com/huggingface/transformers  ## Make sure you install the transformers-4.28.0.dev0
torch
nltk
spacy
tqdm
json-lines
tensorboardX
datasets
evaluate
accelerate
openai
numpy
rouge_score
fire
sentencepiece
tokenizers==0.12.1
wandb
regex
pandas
bs4